<ion-view title="Car" id="page5">

    <ion-nav-buttons side="primary">
        <button class="button icon icon-left ion-chevron-left" ui-sref="child" id="child-back-stories"> My Stories
        </button>
    </ion-nav-buttons>

    <ion-nav-title>Steps: Trip to school</ion-nav-title>

    <ion-content padding="true" class="has-header" on-swipe-left="onSwipeGoTo('sign')">

            <div class="row row-center" style="padding:0;">
                <div class="col col-80">

                    <a style="display:block;" ui-sref="sign">
                        <img src="img/9WKkSVgrTSCRVIBCaBwk_Car.jpg" width="100%" height="auto"
                             style="display: block; margin-left: auto; margin-right: auto;">
                    </a>

                    <div id="car-markdown1" class="show-list-numbers-and-dots">
                        <p style="color:#000000; text-align: center">Oliver &amp; Mummy drive to school</p>
                    </div>
                    <div class="spacer" style="width: 300px; height: 13px;"></div>
                </div>

                <div class="col text-center">
                    <!--form id="car-form5" class="list"-->
                    <!--ion-item class="range range-positive" id="car-range4" -->
                    <!--div class="range range-assertive">
                        <input type="range" value="1" min="0" max="5" step="1" style="-ms-transform: rotate(-90deg); -webkit-transform: rotate(-90deg); transform: rotate(-90deg);" >
                    </div-->
                    <!--img src="img/temp_level1.png" id="car-therm" style="width: 100%" on-swipe-up="increase()" on-swipe-down="decrease()"-->
                    <img ng-src="{{ imageUrl }}" id="car-therm" style="width: 100%" on-swipe-up="increase()" on-swipe-down="decrease()" on-tap="tap()">
                    <!--/ion-item>
                </form-->
                    <br>
                    <img src="img/avatar.png" style="width: 100%">
                </div>
            </div>


        <progress max="100" value="25" id="ft-prog"></progress>

        <a ui-sref="feelings" id="car-button33" class="button button-stable  button-block">How does this make
            you feel?</a>


    </ion-content>
</ion-view>