<ion-view title="My Stories" id="page4">

  <ion-nav-buttons side="primary">
    <button class="button icon ion-home" ui-sref="splash" id="child-back-home">
    </button>
  </ion-nav-buttons>

  <ion-content padding="true" class="has-header">
    <ion-list id="child-list2">
      <ion-item class="item-avatar" id="child-list-item3" ui-sref="car">
        <img src="img/y5V01hISVOUPwSHxdKgn_Car.jpg">
        <h2>Trip to school</h2>
      </ion-item>
      <ion-item class="item-avatar" id="child-list-item4">
        <h2>Dentist</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>