<ion-view title="Edit Story" id="page9">

  <ion-nav-buttons side="primary">
    <button class="button" ui-sref="parent" id="createStory-button12" >Cancel
    </button>
  </ion-nav-buttons>

  <ion-nav-buttons side="secondary">
    <button class="button" ui-sref="parent2" id="createStory-button14">Save
    </button>
  </ion-nav-buttons>

  <ion-content padding="true" class="has-header">

    <ion-list id="createStory-list4">

      <label class="item item-input" id="createStory-input3">
        <input type="text" placeholder="A title for your story, e.g. 'Going to school'">
      </label>

      <ion-item class="item item-thumbnail-left" id="createStory-list-item7" ui-sref="storyItem">
          <!--i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i-->
          <img id="imgS97" src="img/placeholder.png">
        <h2>Step 1</h2>
          <p id="text294">Tap to edit</p>
      </ion-item>

      <ion-item class="item-thumbnail-left" id="createStory-list-item9" ui-sref="storyItem">
          <img src="img/placeholder.png">
        <h2>Step 2</h2>
          <p>Tap to edit</p>
      </ion-item>

      <ion-item class="item-thumbnail-left" id="createStory-list-item8" ui-sref="storyItem">
          <img src="img/placeholder.png">
        <h2>Step 3</h2>
          <p>Tap to edit</p>
      </ion-item>

      <ion-item class="item-thumbnail-left" id="createStory-list-item10" ui-sref="storyItem">
          <img src="img/placeholder.png">
        <h2>Step 4</h2>
          <p>Tap to edit</p>
      </ion-item>

    </ion-list>

  </ion-content>
</ion-view>
