<ion-view title="Feelings" id="page14">

    <!-- TODO ideally go back to previous -->
  <ion-nav-buttons side="primary">
    <button class="button icon icon-left ion-chevron-left" ui-sref="child" id="back-to-stories"> My Stories</button>
  </ion-nav-buttons>

  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/cgWuJVRR5w74Bek4vpcw_body.jpg" width="80%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
    </div>

      <label class="item item-input">
      <textarea rows="6" columns="80">{{ feelingsText }}</textarea>
          </label>

      <br>

      <label class="item item-input">
          <input type="text" placeholder="Type your answer here...">
          <button>Send</button>
      </label>


  </ion-content>
</ion-view>