<ion-view title="Help Page" id="page12">
  <ion-content padding="true" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/iGH2UVSNTmGkWkcnqS7T_body.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
    </div>
    <div id="helpPage-markdown3" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some helpful bit of text</p>
    </div>
  </ion-content>
</ion-view>