<ion-view title="Home" id="page8">

    <ion-nav-buttons side="primary">
        <button class="button icon icon-left ion-chevron-left" ui-sref="child" id="child-back-stories"> My Stories
        </button>
    </ion-nav-buttons>

    <ion-nav-title>Steps: Trip to school</ion-nav-title>

    <ion-content padding="true" class="has-header" on-swipe-right="onSwipeGoTo('school')">

        <div class="row row-center">
            <div class="col col-80">
                <div>
                    <a style="display:block;" ui-sref="child">
                        <img src="img/6pW6ZMhfQrqvwxqWxcNw_House.jpg" width="100%" height="auto"
                             style="display: block; margin-left: auto; margin-right: auto;" >
                    </a>
                </div>
                <div id="home-markdown7" class="show-list-numbers-and-dots">
                    <p style="color:#000000; text-align: center">Mummy, Hazel and Millie are waiting for Oliver at home</p>
                </div>
                <div class="spacer" style="width: 300px; height: 13px;"></div>
            </div>

            <div class="col text-center">
                <!--form id="home-form3" class="list">
                    <ion-item class="range range-positive" id="home-range2">Range-->
                <!--div class="range range-assertive">
                    <input type="range" value="1" min="0" max="5" step="1" style="-ms-transform: rotate(-90deg); -webkit-transform: rotate(-90deg); transform: rotate(-90deg);" >
                </div-->
                <img ng-src="{{ imageUrl }}" id="home-therm" style="width: 100%" on-swipe-up="increase()" on-swipe-down="decrease()" on-tap="tap()">
                    <!--/ion-item>
                </form-->

                <br>
                <img src="img/avatar.png" style="width: 100%">

            </div>
        </div>


        <progress max="100" value="100" id="ft-prog"></progress>

        <a ui-sref="feelings" id="home-button34" class="button button-stable  button-block">How
            does this make you feel?</a>
    </ion-content>
</ion-view>