<ion-view title="Image2" id="page14">
  <ion-content padding="true" class="has-header">
    <h1 id="image2-heading4" style="color:#000000;">Walking to Mum's Car</h1>
    <div>
      <img src="img/IoM00eKATJG9VbBC73ID_Family.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
    </div>
    <div id="image2-markdown8" class="show-list-numbers-and-dots">
      <p style="color:#000000;">How does this image make you feel?</p>
    </div>
    <div id="image2-container5" class="creator-container"></div>
    <a ui-sref="helpPage" id="image2-button19" class="button button-positive  button-block">Tap for Help</a>
  </ion-content>
</ion-view>