<ion-view title="Image3" id="page15">
  <ion-content padding="true" class="has-header">
    <h1 id="image3-heading5" style="color:#000000;">Going Home</h1>
    <div>
      <img src="img/Y7b68tIVRYyo9XNfymKQ_House.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
    </div>
    <div id="image3-markdown9" class="show-list-numbers-and-dots">
      <p style="color:#000000;">How does this image make you feel?</p>
    </div>
    <div id="image3-container6" class="creator-container"></div>
    <a ui-sref="helpPage" id="image3-button20" class="button button-positive  button-block">Tap for Help</a>
  </ion-content>
</ion-view>