<ion-view title="Image4" id="page16">
  <ion-content padding="true" class="has-header">
    <h1 id="image4-heading6" style="color:#000000;text-align:center;">Going to Linden Bridge</h1>
    <div>
      <img src="img/dhZjPHBSduDC7OA1QVVk_Sign.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
    </div>
    <div id="image4-markdown10" class="show-list-numbers-and-dots">
      <p style="color:#000000;">How does this image make you feel?</p>
    </div>
    <div id="image4-container7" class="creator-container"></div>
    <a ui-sref="helpPage" id="image4-button21" class="button button-positive  button-block">Tap for Help</a>
  </ion-content>
</ion-view>