<ion-view title="Image1" id="page13">
  <ion-content padding="true" class="has-header">
    <h1 id="image1-heading3" style="color:#000000;">Driving to School</h1>
    <div>
      <img src="img/76bJx6rYTjazhdQBOW1H_Car.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
    </div>
    <div id="image1-markdown7" class="show-list-numbers-and-dots">
      <p style="color:#000000;">How does this image make you feel?</p>
    </div>
    <div id="image1-container4" class="creator-container"></div>
    <a ui-sref="helpPage" id="image1-button18" class="button button-positive  button-block">Tap for Help</a>
  </ion-content>
</ion-view>