<ion-view title="List" id="page7">
  <ion-content padding="true" class="has-header">
    <ion-list id="list-list2">
      <ion-item class="item-thumbnail-left" id="list-list-item1" ui-sref="scene1">
        <img src="img/RxmB5fadTxm1WabnjvGQ_Car.jpg">
        <h2>Scene 1</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="list-list-item2" ui-sref="scene2">
        <h2>Scene 2</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="list-list-item3" ui-sref="scene3">
        <h2>Scene 3</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="list-list-item4" ui-sref="scene4">
        <h2>Scene 4</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>