<ion-view title="Stories" id="page2">
    <ion-nav-buttons side="primary">
        <button class="button icon ion-home" ui-sref="splash" id="parent-back-home">
        </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="secondary">
        <button class="button icon ion-android-add" ui-sref="createStory" id="parent-button7">
        </button>
    </ion-nav-buttons>
  <ion-content padding="true" class="has-header">

      <div class="spacer" style="height: 40px;"></div>

      <p style="color: #9e9e9e">You have not created any stories yet.</p>

    <p style="color: #9e9e9e">Create your first story by using the + button.</p>
  </ion-content>
</ion-view>