<ion-view title="Stories" id="page11">

  <ion-nav-buttons side="primary">
    <button class="button icon ion-home" ui-sref="splash" id="parent-back-home2">
    </button>
  </ion-nav-buttons>

  <ion-nav-buttons side="secondary">
    <button class="button icon ion-android-add" ui-sref="createStory" id="parent-button15">
    </button>
  </ion-nav-buttons>

  <ion-content padding="true" class="has-header">

    <ion-list id="parent2-list5" show-delete="false" can-swipe="true">

      <ion-item class="item-avatar" id="parent2-list-item11">
        <img src="img/PB2R8isR5kN8jQEJA1wI_Car.jpg">
        <h2>Trip to school</h2>
          <ion-option-button class="button-assertive icon icon-left ion-trash-a" ui-sref="parent"> Delete</ion-option-button>
      </ion-item>

    </ion-list>

  </ion-content>
</ion-view>