<ion-view title="Picture Selector" id="page13">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/VmroGadlRNuEZesosZ0y_Car.jpg" width="25%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/nx8cVgHT9OPrJX0sMIDZ_Sign.jpg" width="25%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/fK4DdqFjTWiIVk3JZDqx_Family.jpg" width="25%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/bdvfvK5YTdyPIordvyYK_House.jpg" width="25%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>