<ion-view title="Scene 1" id="page8">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="scene1-card21">
      <div class=" item item-image">
        <a style="display:block;" ui-sref="image1">
          <img src="img/qupjnSfBRCVmDveLAn7g_Car.jpg" width="25%" height="25%" style="display: block; margin-left: auto; margin-right: auto;">
        </a>
      </div>
      <div class=" item item-image">
        <a style="display:block;" ui-sref="image2">
          <img src="img/sWyTJlpuT8OBJAHguMjb_Family.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </a>
      </div>
      <div class=" item item-image">
        <a style="display:block;" ui-sref="image3">
          <img src="img/lFgOhHnQTMCqbqrYkkZY_House.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </a>
      </div>
      <div class=" item item-image">
        <a style="display:block;" ui-sref="image4">
          <img src="img/lMw6Q8anRhKRm31NSqqv_Sign.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </a>
      </div>
      <div class="item item-body" id="scene1-list-item-container2"></div>
    </div>
  </ion-content>
</ion-view>