<ion-view title="School" id="page6">

    <ion-nav-buttons side="primary">
        <button class="button icon icon-left ion-chevron-left" ui-sref="child" id="child-back-stories"> My Stories
        </button>
    </ion-nav-buttons>

    <ion-nav-title>Steps: Trip to school</ion-nav-title>

    <ion-content padding="true" class="has-header" on-swipe-left="onSwipeGoTo('home')" on-swipe-right="onSwipeGoTo('sign')">


        <div class="row row-center">
            <div class="col col-80">
                <div>
                    <a style="display:block;" ui-sref="home">
                        <img src="img/i0GmOZtPTjyG74pxOQwP_Car.jpg" width="100%" height="auto"
                             style="display: block; margin-left: auto; margin-right: auto;">
                    </a>
                </div>
                <div id="school-markdown3" class="show-list-numbers-and-dots">
                    <p style="color:#000000; text-align: center">Oliver comes home in the bus with Jacquelyn and Sandra</p>
                </div>
                <div class="spacer" style="width: 300px; height: 13px;"></div>
            </div>

            <div class="col text-center">
                <!--form id="school-form2" class="list">
                    <ion-item class="range range-stable" id="school-range1">Anxiety-->
                <!--div class="range range-assertive">
                    <input type="range" value="1" min="0" max="5" step="1" style="-ms-transform: rotate(-90deg); -webkit-transform: rotate(-90deg); transform: rotate(-90deg);" >
                </div-->
                <img ng-src="{{ imageUrl }}" id="school-therm" style="width: 100%" on-swipe-up="increase()" on-swipe-down="decrease()" on-tap="tap()">
                <!--/ion-item>
            </form-->

                <br>
                <img src="img/avatar.png" style="width: 100%">
            </div>
        </div>


        <progress max="100" value="75" id="ft-prog"></progress>

        <a ui-sref="feelings" id="school-button31" class="button button-stable  button-block">How does this make you
            feel?</a>
    </ion-content>
</ion-view>