<ion-view title="Sign" id="page7">

    <ion-nav-buttons side="primary">
        <button class="button icon icon-left ion-chevron-left" ui-sref="child" id="child-back-stories"> My Stories
        </button>
    </ion-nav-buttons>

    <ion-nav-title>Steps: Trip to school</ion-nav-title>

    <ion-content padding="true" class="has-header" on-swipe-left="onSwipeGoTo('school')" on-swipe-right="onSwipeGoTo('car')">

        <div class="row row-center">
            <div class="col col-80">
                <div>
                    <a style="display:block;" ui-sref="school">
                        <img src="img/4FmlRKgEQNSGKihlv0LS_Sign.jpg" width="100%" height="auto"
                             style="display: block; margin-left: auto; margin-right: auto;" >
                    </a>
                </div>
                <div id="sign-markdown5" class="show-list-numbers-and-dots">
                    <p style="color:#000000; text-align: center">Oliver spends the day with his class at school</p>
                </div>
                <div class="spacer" style="width: 300px; height: 13px;"></div>
            </div>

            <div class="col text-center">
                <!--form id="sign-form4" class="list">
                    <ion-item class="range range-positive" id="sign-range3">Range-->
                <!--div class="range range-assertive">
                    <input type="range" value="1" min="0" max="5" step="1" style="-ms-transform: rotate(-90deg); -webkit-transform: rotate(-90deg); transform: rotate(-90deg);" >
                </div-->
                <img ng-src="{{ imageUrl }}" id="sign-therm" style="width: 100%" on-swipe-up="increase()" on-swipe-down="decrease()" on-tap="tap()">
                <!--/ion-item>
            </form-->
                <br>
                <img src="img/avatar.png" style="width: 100%">
            </div>
        </div>


        <progress max="100" value="50" id="ft-prog"></progress>

        <a ui-sref="feelings" id="sign-button32" class="button button-stable  button-block">How
            does this make you feel?</a>
    </ion-content>
</ion-view>