<ion-view title="Home" id="page1" hide-nav-bar="true">
    <ion-content padding="true" class="has-header">

        <div class="spacer" style="height: 40px;"></div>

        <div>
            <img src="img/xxQ9x1VuRjCrbTzWnhtM_OurStepsLogo.png" width="70%" height="auto"
                 style="display: block; margin-left: auto; margin-right: auto;">
        </div>

        <div class="spacer" style="height: 60px;"></div>

        <div class="row">
            <div class="col text-center">
                <button ui-sref="child" id="splash-button5" class="button button-stable   icon-left ion-android-contact">Me
                </button>
            </div>

            <div class="col text-center">
                <button ui-sref="parent" id="splash-button4" class="button button-stable
                  icon-left ion-person-stalker">
                    Grown Ups
                </button>
            </div>

        </div>
    </ion-content>
</ion-view>