<ion-view title="Edit Step" id="page10">
<ion-nav-buttons side="primary">
  <button class="button" id="storyItem-button28" ui-sref="createStory" >Cancel
  </button>
</ion-nav-buttons>
<ion-nav-buttons side="secondary">
<button class="button" id="storyItem-button30" onclick="" ui-sref="createStory">Save</button>
</ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <!--<div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
    <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>-->
    <div id="mainDiv" style="display: block;">
      <div align="center">
        <div id="scene" class="container" style="background-color: rgb(232, 235, 239);"></div>
        <div id="toolbar">
          <button class="button icon ion-image" onclick="changeBackground(document.getElementById('scene')); ff() "></button>
          <button class="button icon ion-android-person-add" onclick="addTopImage()"></button>
          <button class="button icon ion-android-textsms" onclick="addTopText()"></button>
        </div>
      </div>
      <form id="storyItem-form1" class="list">
        <label class="item item-input" id="storyItem-input1">
          <textarea type="text" id="texty" placeholder="Type a step here. For example, 'Oliver and Mummy are going to School'"></textarea>
        </label>
      </form>
    </div>
  </ion-content>
</ion-view>
