<ion-view title="Welcome" id="page5">
  <ion-content padding="true" class="has-header">
    <h1 id="welcome-heading2" style="color:#000000;font-weight:600;text-align:center;">Welcome to Our Steps</h1>
    <div>
      <img src="img/9CzCdYT6RRSkHpJq4aUf_OurStepsLogo.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
    </div>
    <div id="welcome-button-bar1" class="button-bar">
      <a ui-sref="list" id="welcome-button15" class="button button-positive  button-block">Parent</a>
      <a ui-sref="list" id="welcome-button17" class="button button-positive  button-block">Child</a>
    </div>
  </ion-content>
</ion-view>