.draggable {
  float: left;
}
.draggable.is-pointer-down {
  opacity: 0.5;
}
.draggable.is-dragging { /*opacity: 0.5;*/ }

#scene {
  background: url("../img/placeholder.png");
  width: 600px;
  height: 400px;
  max-width: 80%;
  max-height: 80%;
  background-size: 100% 100%;
}

#toolbox {
}

.topText {
  background-color: rgba(255,255,255,0.5);
}
